#requirements.txt

imutils==0.5.4
matplotlib==3.10.0
numpy==2.2.2
opencv-python==4.10.0
optuna==4.5.0
pandas==2.2.3
pillow==11.1.0
requests==2.32.3
scikit-image==0.25.0
scikit-learn==1.5.2
supertree==0.5.5
termcolor==2.1.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
xgboost==3.0.2