# This file may be used to create an environment using:
#   conda create --name <env> --file <this file>
# platform: linux-64

python=3.13.2=hf623796_100_cp313
numpy=2.2.2=py313hf4aebb8_0
pandas=2.2.3=py313h6a678d5_0
matplotlib=3.10.0=py313h06a4308_1
seaborn=0.13.2=py313h06a4308_2
scikit-learn=1.5.2=pypi_0
xgboost=3.0.2=cuda128_pyh68bd8d9_0
optuna=4.2.1=pypi_0
supertree=0.5.5=pypi_0